.App {
  background-image: url('./background.jpeg'); /* Path to your image */
  background-size: cover; /* Cover the entire element */
  background-repeat: repeat-y; 
  background-position: center; /* Center the background image */
  /* height: 100vh; */
  text-align: center; 
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 90px;
  padding: 20px;
  border: 3px solid blueviolet;
  border-radius: 5px;
  user-select: none;
  
  
}

.about-content{
  display: flex;
  font-weight: 650;
  font-size: x-large;
}



@media (max-width: 428px) {
  .about{
    margin-top: 70px;
  }
}

@media (max-width: 460px) {
  .about-content{
    display: contents;
  }
}


.aboutSeek {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.internSeek {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

/* @media (min-width: 500px) {
  .internSeek {
    margin-left: 45%;
  }
} */

/* @media (max-width: 499px) {
  .internSeek {
    margin-left: 33%;
  }
} */



.about h2 {
  font-size: 35px;
  margin-bottom: 15px;
  user-select: none;
}

.about p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  color: #333; /* Text color */
  user-select: none;
}



.vip {
  margin: 20px;
  padding: 20px;
  border: 3px solid blueviolet;
  border-radius: 5px;
}

.vip h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333; /* Text color */
  user-select: none;
}

.vip p {
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  color: #666; /* Slightly darker text color */
  user-select: none;
}

.benefits-and-features {
  list-style-type: disc; /* Bulleted list style */
  padding-left: 20px;
  font-size: 18px;
  line-height: 1.5;
  color: #333; /* Text color */
  margin-top: 10px; /* Adjust the space between the paragraph and the list */
}

/* Style list items (li) if needed */
.benefits-and-features li {
  margin-bottom: 10px;
  margin-left: 20px; /* Adjust the space between the bullet and the text */
  text-align: left;
  user-select: none;
}

/* Highlight the list items on hover */
.benefits-and-features li:hover {
  color: blueviolet; /* Change the color on hover */
  cursor: pointer;
}

.internship-section h2{
  font-size: 35px;
  user-select: none;
}

@media (min-width: 500px) and (max-width: 800px) {
  .internship-section .internships {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
  }

  .internship-section .internships > * {
    flex: 0 0 44%; /* 25% width for each component (four in a row) */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
}

@media (min-width: 800px) {
  .internship-section .internships {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
  }

  .internship-section .internships > * {
    flex: 0 0 21%; /* 25% width for each component (four in a row) */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
}


.about img{
  height: 300px;
  width: 300px;
}


/* App.css */

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a2be2; /* Bluish-violet/purple color */
  border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6a1d9e; /* Darker color on hover */
}

.aboutWithLogo {
  font-size: 120px;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  .MSME {
    height: 100px;
    width: 85px;
  }
}


